*,
html,
body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}

/* Marquee START */
    .marquee{
        width: 100%;
        background-color: black;
    }

    .marquee .container{
        padding: 10px;
    }

    .marquee .container marquee{
        color: white;
    }

    .marquee .container marquee p{
        font-size: 0.9em;
        text-align: center;
    }
/* Marquee END */



/* Navbar START */
    nav{
        width: 100%;
        background-color: white;

        border-bottom: 1px solid black;
    }

    nav .container{
        padding: 10px;
    }

    nav .container ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        align-items: center;
    }

    nav .container ul li{
        list-style-type: none;
    }

    nav .container ul li a{
        color: black;
        padding: 15px;
        text-decoration: none;
    }nav .container ul li a:hover{
        color: rgb(255,151,78);

        text-decoration: underline;
        text-underline-offset: 20px;
    }


    nav .container ul li .active{
        font-weight: 700;
        color: rgb(255,151,78);
        text-decoration: none;
    }
    nav .container ul li .judul{
        
    }

    nav .container ul li .judul img{
        border-radius: 10px;

        min-width: 50px;
        max-width: 50px;
        filter: grayscale(0);

        transition: all ease-in-out 100ms;
    }nav .container ul li .judul img:hover{
        filter: grayscale(100%);
        border-radius: 50px;

        transition: all ease-out 210ms;
    }
/* Navbar END */


/* Hero START */
    .hero{
        width: 100%;
        background-color: #F7F7F7;
    }

    .hero .container{
    }

    .hero .container .text{
        width: 100%;
        height: 50vh;

        text-align: center;
        align-content: flex-end;

        background-image: url('https://i02.appmifile.com/517_operator_id/01/08/2024/6ad639921b58c98e53c40adbdd3bbcf4.jpg?thumb=1&w=2560&f=webp&q=85');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero .container .text ul{
        background-color: rgba(0, 0, 0, 0.616);
    }

    .hero .container .text h3{
        color: white;
        margin: 5px;
    }

    .hero .container .text p{
        color: white;
        margin: 20px;
    }

    .hero .container .text a{
        color: white;
        font-size: 13.3px;
        text-decoration: none;

        border-radius: 8px;
        background-color: black;
        padding: 10px;

        
        border: 1px solid white;

        transition: all ease-in-out 120ms;
    }.hero .container .text a:hover{
        border: 1px solid black;

        background-color: white;
        color: black;

        transition: all ease-out 510ms;
    }
/* Hero END */




/* Hero-section START */
.hero-section{
    width: 100%;
    background-color: #F7F7F7;
}

.hero-section .container{
    padding: 10px;
}

.hero-section .container ul{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}


.hero-section .container ul .text{
    position: absolute;
}.hero-section .container ul .text h2{
    color: #333;
}.hero-section .container ul .text p{
    color: rgb(53, 53, 53);
}

.hero-section .container ul a{
    color: black;
    background-color: white;

    margin: 10px;
    border-radius: 10px;

}

.hero-section .container ul a img{
    width: 100%;
}.hero-section .container ul a img:hover{
    box-shadow: 5px 0 10px 1px black;
}
/* Hero-section END */



/* Contet START */
.content{
    width: 100%;
    background-color: #F7F7F7;
}

.content .container{
    padding: 10px;
}

.content .container h3{
    text-align: center;
    margin-bottom: 10px;
}

.content .container ul{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

}

.content .container ul a{
    color: black;
    text-decoration: none;

    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.content .contaienr ul .text{
    position: relative;
}
/* Contet END */